/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/support/config/config.yml
/spec/support/config/config.develop.yml
/spec/support/config/config.uat.yml
/spec/uat/
.idea/

.byebug_history
reapal-*.gem
Gemfile.lock

# rspec failure tracking
.rspec_status

.DS_Store
*/**/.DS_Store
